<%content_for :head do%>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.3&sensor=false"></script>
<script type="text/javascript" src="/javascripts/gmap/markermanager.js"></script>
<script type="text/javascript" src="/javascripts/gmap/StyledMarker.js"></script>
<script type="text/javascript" src="/javascripts/jquery.metadata.2.1/jquery.metadata.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jmapping-2.1.0/jquery.jmapping.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#map').jMapping();
  //$('#map-side-bar').hide();
});
</script>
<style type="text/css">
  #map { height: 400px; width: 1000px; }
</style>
<%end%>

<div id="map"></div>

<div id="map-side-bar">
<% @stores.each do |store| %>
  <div class="map-location" data-jmapping="{id: <%= store.id %>, point: {lat: <%= store.lat %>, lng: <%= store.lng %>}}">
    <a href="#" class="map-link"><%= store.name %></a>
    <div class="info-box">
      <p><%= store.description %></p>
    </div>
  </div>
<% end %>
</div>