<%content_for :head do%>
<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.3&sensor=false" %>
<%= javascript_include_tag 'gmap/markermanager.js', 'gmap/StyledMarker.js', 'gmap/markerclusterer' %>
<%= javascript_include_tag "jquery.metadata.2.1/jquery.metadata.js" %>
<%= javascript_include_tag "jquery.jmapping-2.1.0/jquery.jmapping.js" %>
<%= javascript_include_tag "map" %>
<%= stylesheet_link_tag "map" %>
<%end%>

  <div id="map"></div>
  
  <%= render :partial => "search" %>
  
  <div id="map-side-bar">
    <%= render :partial => "map_sidebar" %>
  </div>
