<div id="search">
<%= simple_form_for @search, :url => store_search_path, :remote => true, :method => :get do |f| %>
<%= f.input :near, :label => "Search for stores near" %>
<label>and carrying the following game systems</label>
<ul>
<%= f.collection_check_boxes :game_systems, 
@search.available_game_systems, :id, :name, 
:checked => @search.game_systems.map{|gs| gs.id},
:item_wrapper_tag => :li,
:label_text => lambda { |label, required| content_tag :span, label } 
%>
</ul>


<%= f.button :submit, "Search For Stores" %>
<%end%>

<br />

<div class="recommend_button">
<%= link_to 'Recommend a new store', new_store_path %>
</div>

</div>