<h1>Listing stores</h1>

<%= render :partial => "map", :stores => @stores %>

<%= form_tag store_search_path, :id => "search", :remote => true, :method => 'get' do %>
<%= text_field_tag :storesearch %>
<%= submit_tag "Search For Stores Near" %>
<% end %>

<br />

<%= link_to 'Recomend a new store', new_store_path %>
