<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form_content">
    <%= f.input :email %>
    <% unless (can? :manage, :user and @user.id != current_user.id) %>
      <%= f.input :current_password %>
    <%end%>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%if can? :manage, :user %>
      <%= f.association :roles, :as => :check_boxes %>
    <%end%>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
