<div id="user_nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>.
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
        <% end %>

      <ul>
        <li>
          <a title="Home" href="http://handcannononline.com/">Home</a>
        </li>
        <li>
          <a title="About" href="http://handcannononline.com/about/">About</a>
        </li>
        <li>
          <a title="Events Calendar" href="http://handcannononline.com/events-calendar/">Events Calendar</a>
        </li>
        <li>
          <a title="Hand Cannon E-Zine" href="http://handcannononline.com/handcannon-ezine/">Hand Cannon E-Zine</a>
        </li>
        <li>
          <a title="Gaming Resources" href="http://handcannononline.com/73-2/">Gaming Resources</a>
        </li>
        <li><%= link_to "Store Map", stores_path %></li>
          <% if can? :manage, User %>
            <li><%= link_to "Manage Users", users_path%></li>  
          <% end %>
          
          <% if can? :manage, Store %>
            <li><%= link_to "Stores Pending Approval(#{pending_store_count})", pending_stores_path%></li>
            <li><%= link_to "Manage Stores", manage_stores_path %>
          <% end %>
          
          <% if can? :update, current_user %>
          <li><%= link_to "Edit Profile", edit_user_path(current_user)%></li>
          <% end %>
      </ul>
</div>

