<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Hand Cannon Community" %></title>
    <%= stylesheet_link_tag "application", "jquery.jnotify" %>
    <%= javascript_include_tag :defaults, "jquery.jnotify", "error_popups" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="content-header">
        <div id="flash">
          <%= render "layouts/errors"%>
        </div>
        
        <%= render "layouts/dashboard" %>
      </div>
      
      
      
      <%#= content_tag :h1, yield(:title) if show_title? %>
    
      <%= yield %>
      
    </div>
  </body>
</html>
